html, body { margin: 0; padding: 0; height: 100%; border:none; }
body{
	padding-top:0;
	padding-bottom:0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007548+0,00633b+49,004729+100 */
	background: #007548; /* Old browsers */
	background: -moz-linear-gradient(top, #007548 0%, #00633b 49%, #004729 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #007548 0%,#00633b 49%,#004729 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #007548 0%,#00633b 49%,#004729 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007548', endColorstr='#004729',GradientType=0 );
	background-attachment: fixed;　
	line-height:24px;
}

.underblock{
	max-width: 960px;
	min-width: 360px;
	margin-left: auto;
	margin-right: auto;
	
}
.first{
	min-height:314px;
	height:90vh;
	max-width: 960px;
}
.index{
	text-align: center;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}
.index_1{
	font-size:48px;
	line-height:48px;
	text-shadow: 0.1em 0.1em 0.1em white; 
}
.index_2{
	font-size:80px;
	line-height:80px;
	color: white;
	text-shadow: 0.1em 0.1em 0.15em black; 
}
.index_3{
	font-size:60px;
	line-height:60px;
	text-shadow: 0.1em 0.1em 0.1em white ; 
}
.index_4{
	font-size:30px;
	line-height:30px;
	text-shadow: 0.1em 0.1em 0.1em white ; 
}
.under{
	margin:0;
	padding: 5px;
	position:relative;
	text-align:center;
	font-size:12px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#99ff99+0,66ff66+100 */
	background: #99ff99; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #99ff99 0%, #66ff66 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #99ff99 0%,#66ff66 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #99ff99 0%,#66ff66 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ff99', endColorstr='#66ff66',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border: 3px solid 	#00AA00;
}
.mail{
	color:blue;
}

.body{
	text-align: center;
	
}
.inputProperty,.inputAge,.finalProperty,.jobChoose,.jobPoint,.allPoint,.finish{
	margin-bottom:10px;
}
.create{
	text-align:center;
}
.inputProperty{
	padding: 0px;
}
.menu{
	font-size: 24px;
	text-align:center;
	color: white;
	height: 30px;
	line-height: 30px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc0000+0,d81e1e+53,e23b3b+100 */
	background: #cc0000; /* Old browsers */
	background: -moz-linear-gradient(top, #cc0000 0%, #d81e1e 53%, #e23b3b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #cc0000 0%,#d81e1e 53%,#e23b3b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #cc0000 0%,#d81e1e 53%,#e23b3b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#e23b3b',GradientType=0 ); /* IE6-9 */
	border: 3px solid black;
	border-top: 0px;
}

.explain{
	margin:10px;
	border: 3px solid #CC6600;
	border-radius: 10px;
	padding:10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffdd55+0,ffaa33+100 */
	background: #ffdd55; /* Old browsers */
	background: -moz-linear-gradient(top, #ffdd55 0%, #ffaa33 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffdd55 0%,#ffaa33 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffdd55 0%,#ffaa33 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdd55', endColorstr='#ffaa33',GradientType=0 ); /* IE6-9 */
	text-align: left;
}

.red{
	color: red;
}

.blue{
	color: blue;
}

.table{
	display:inline-table;
}
.tr{
	display:table-row;
}
.td{
	display:table-cell;
	height: 50px;
	width: 100px;
	line-height: 50px;
}

.table>div:nth-child(odd) > div{
	background-color: #FFDD55;
}
.table>div:nth-child(even) > div{
	background-color: #FFEE99;
}
.table>div:nth-child(1) > div{
	background-color: #FFBB66;
	font-size: 20px;
	border-bottom: 1px solid black;
}

.inputProperty .body .table .tr .td:nth-child(2){
	width: 60px;
}
.inputProperty .body .table .tr .td:nth-child(1),.inputProperty .body .table .tr .td:nth-child(3),.inputProperty .body .table .tr .td:nth-child(4){
	width: 100px;
	height: 50px;
	line-height: 50px;
}
.inputProperty .body .table .tr:nth-child(even) .td{
	background-color: #FFEE99;
}
.inputProperty .body .table .tr:nth-child(odd) .td{
	background-color: #FFDD55;
}
.inputProperty .body .table .tr:nth-child(1) .td{
	background-color: #FFBB66;
	font-size: 20px;
	border-bottom: 1px solid black;
}
body > div > div.inputProperty > div.body > div:nth-child(2){
	width:280px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
}
body > div > div.inputProperty > div.body > div:nth-child(2) > div:nth-child(1),body > div > div.inputProperty > div.body > div:nth-child(2) > div:nth-child(2){
	margin: 10px;
	width:120px;
	float: left;
}
body > div > div.inputProperty > div.body > div:nth-child(2) > div input{
	width: 100px;
	height: 30px;
}

.inputProperty .body .table select{
	width: 80px;
	height: 30px;
	padding: 0 0 0 20px;
}

.under{
	clear:left;
}

.0first{/*封面測試用*/
	display: none;
}
/**/
.inputProperty,.jobChoose,.inputAge,.age20,.ageOther,.self,.mulPoint,.selfInterested,.allPoint,.finalProperty,.jobPoint,.finish,#gotop{
	display: none;
}

/*第二步*/ /*信用評價*/
body > div > div.inputAge > div.body , body > div > div.jobPoint > div.body > div.jobCreate{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff6bc+0,ffee91+100 */
	background: #fff6bc; /* Old browsers */
	background: -moz-linear-gradient(top, #fff6bc 0%, #ffee91 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fff6bc 0%,#ffee91 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fff6bc 0%,#ffee91 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff6bc', endColorstr='#ffee91',GradientType=0 ); /* IE6-9 */
	
	margin:auto;
	border: 3px solid #CC6600;
	border-radius: 10px;
	padding:10px;
	max-width: 400px;
	text-align: left;
}

body > div > div.jobPoint > div.body > div.norPoint,body > div > div.jobPoint > div.body > div.selfInterested,body > div > div.jobPoint > div.body > div.self,body > div > div.jobPoint > div.body > div.mulPoint,body > div > div.finish > div.body > div:nth-child(1){
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff6bc+0,ffee91+100 */
	background: #fff6bc; /* Old browsers */
	background: -moz-linear-gradient(top, #fff6bc 0%, #ffee91 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fff6bc 0%,#ffee91 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fff6bc 0%,#ffee91 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff6bc', endColorstr='#ffee91',GradientType=0 ); /* IE6-9 */
	
	margin:10px auto 10px auto;
	border: 3px solid #CC6600;
	border-radius: 10px;
	padding:10px;
	max-width: 600px;
	text-align: center;
}

body > div > div.jobPoint > div.body > div.jobCreate{
	text-align: center;
}
body > div > div.jobPoint > div.body > div.jobCreate > div:nth-child(1){
	text-align: left;
	width: 330px;
	margin: auto;
}

/*剩下點數*/
body > div > div.jobPoint > div.body > div:nth-child(1),body > div > div.allPoint > div.body > div:nth-child(1){
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6ee5e5+1,99ffff+100 */
	background: #6ee5e5; /* Old browsers */
	background: -moz-linear-gradient(top, #6ee5e5 1%, #99ffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #6ee5e5 1%,#99ffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #6ee5e5 1%,#99ffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ee5e5', endColorstr='#99ffff',GradientType=0 ); /* IE6-9 */
	font-size: 20px;
	margin: 10px auto 10px auto;
	border: 3px solid #00AA88;
	border-radius: 10px;
	padding:10px;
	max-width: 600px;

}

body > div > div.inputAge > div.body > div.ageSet{
	font-size: 20px;
}
#inAGE{
	width: 80px;
	height: 30px;
	padding: 0 0 0 20px;
}
#ageT1 > div > div > div  > div{
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}
#ageT1 > div > div  > div > div:nth-child(3){
	width: 60px;
	height: 50px;
}


#ageT1 > div > div  > div:nth-child(even) > div{
	background-color: #FFEE99;
}
#ageT1 > div > div  > div:nth-child(odd) > div{
	background-color: #FFDD55;
}
#ageT1 > div > div  > div:nth-child(1) > div{
	background-color: #FFBB66;
	font-size: 20px;
	border-bottom: 1px solid black;
}

#ageT1{
	margin: 10px;
}
input[type='radio']{

    width: 20px;
    height: 20px;
}
#ageT1 > div{
	margin-left: auto;
	margin-right: auto;
	width: 260px;
	height: 151px;
}
#ageT1 > div:nth-child(3){
	padding: 10px;
	width:95%;
	height: 100%;

}

#ageT1 > div:nth-child(2){
	padding: 50px 10px 10px 10px;
	width: 100%;
	height:100%;
}


#inLUK2{
	width:80px;
	height: 30px;
	padding: 0 0 0 20px;
	
}

body > div > div.inputAge > div.body > div:nth-child(5){
	text-align: center;
}
#checkInAge{
	width: 100px;
	height:30px;
}
/*  20-39歲 */
body > div > div.inputAge > div.body > div.age20 > div{
	text-align: center;
	padding: 10px;
}
body > div > div.inputAge > div.body > div.age20 > div > div > div > div{
	width: 100px;
	height: 50px;
	line-height: 50px;
}
select{
	width: 80px;
	height: 30px;

}

body > div > div.inputAge > div.body > div.age20 > div > div  > div:nth-child(even) > div{
	background-color: #FFEE99;
}
body > div > div.inputAge > div.body > div.age20 > div > div  > div:nth-child(odd) > div{
	background-color: #FFDD55;
}

/*其他年紀*/
#ageT3{
	text-align: center;
	padding: 10px;
}
#ageT3 > div.table > div > div{
	width: 100px;
	height: 50px;
	line-height: 50px;
}

#ageT3 > div.table > div:nth-child(1) > div{
	font-size: 20px;
	
}


#ageT3 > div.table > div:nth-child(even) > div{
	background-color: #FFEE99;
}
#ageT3 > div.table  > div:nth-child(odd) > div{
	background-color: #FFDD55;
}
#ageT3 > div.table > div:nth-child(1) > div{
	background-color: #FFBB66;
	font-size: 20px;
	border-bottom: 1px solid black;
}
#ageT3 > div:nth-child(2){
	text-align:right;
}
.ageIF{
	color: red;
}
#ageT3 > div:nth-child(4){
	font-size: 20px;
}
#ageT3 > div.eduUP > div:nth-child(1) > div:nth-child(odd) > div,#ageT3 > div.eduUP > div:nth-child(3) > div:nth-child(odd) > div,#ageT3 > div.eduUP > div:nth-child(5) > div:nth-child(odd) > div,#ageT3 > div.eduUP > div:nth-child(7) > div:nth-child(odd) > div{
	background-color: #FFDD55;
	border-style: none;
	border-width: 0px;
	font-size: 16px;
}

#ageT3 > div.table > div > div:nth-child(1),body > div > div.finalProperty > div.body > div > div > div:nth-child(2){
	width:60px;
}

body > div > div.finalProperty > div.body > div > div > div:nth-child(4){
	width:40px;
}
body > div > div.finalProperty > div.body > div:nth-child(2) > div > button{
	width: 100px;
	height: 30px;
}
body > div > div.finalProperty > div.body > div:nth-child(2) > div{
	float: left;
	width: 120px;
	height: 30px;

}
body > div > div.finalProperty > div.body > div:nth-child(2){
	clear:left;
	width: 240px;
	height: 30px;
	margin:auto;
	padding:10px;
}

.finalProperty{
	padding:10px; /*內距*/
}

.shiftRight{
	padding-left : 12px;
	padding-right : 12px;
	text-align: left;
}

body > div > div.jobChoose > div.body > div.table > div > div:nth-child(2){
	width: 60px;
	height: 50px;
}
body > div > div.jobChoose > div.body > div.table > div > div:nth-child(3){
	width: 300px;
	height: 50px;
}
body > div > div.jobChoose > div.body > div.table > div:nth-child(3) > div:nth-child(3){
	text-align: left;
}
body > div > div.jobChoose > div.body > div.table > div:nth-child(1) > div , body > div > div.jobPoint > div.body > div.jobCreate > div > div > div{
	font-size: 16px;
	border: 0px none;
	background-color: #FFDD55;
}
.LRButton{
	width: 60px;
	height: 50px;
	font-size: 12px;
}
body > div > div.jobChoose > div.body > div.jobCS{
	padding: 10px;
}
.finish .property{
	margin-left: auto;
	margin-right: auto;
	min-width: 100px;
	max-width: 300px;

}

body > div > div.jobChoose > div.body > div.jobCS > select{
	width: 150px;
	height: 50px;
}
body > div > div.jobChoose > div.body > p > button{
	width: 100px;
	height: 30px;
}

body > div > div.jobPoint > div.body > div.jobCreate > div  .td{
	text-align: center;
}
body > div > div.jobPoint > div.body > div.jobCreate > div > div > div:nth-child(3){
	width: 30px;
}

body > div > div.jobPoint > div.body > div.norPoint > div > div > div:nth-child(2){
	width:60px;
	height: 50px;
}

body > div > div.jobPoint > div.body > div.norPoint > div > div > div:nth-child(2),body > div > div.jobPoint > div.body > div.self > div > div > div > div:nth-child(2),body > div > div.jobPoint > div.body > div.mulPoint > div.table > div:nth-child(1) > div:nth-child(2),body > div > div.jobPoint > div.body > div.selfInterested > div > div) > div:nth-child(2){
	width: 60px;
}
body > div > div.allPoint > div.body > div:nth-child(2) > div > div> div:nth-child(2),body > div > div.jobPoint > div.body > div.selfInterested > div.table > div > div:nth-child(2),body > div > div.jobPoint > div.body > div.self > div:nth-child(2) > div > div > div:nth-child(2),body > div > div.jobPoint > div.body > div.mulPoint > div.table > div > div:nth-child(2){
	width: 60px;
}
body > div > div.jobPoint > div.body > div.norPoint > div:nth-child(1){
	max-width: 460px;
	text-align: left;
	margin: 10px auto 10px auto;

}
.skillTitle{
	max-width: 460px;
	margin: 10px auto 10px auto;
	font-size: 20px;
}
.title{
	max-width: 460px;
	margin: 10px auto 10px auto;
	font-size: 20px;
	
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff6bc+0,ffee91+100 */
	background: #fff6bc; /* Old browsers */
	background: -moz-linear-gradient(top, #fff6bc 0%, #ffee91 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fff6bc 0%,#ffee91 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fff6bc 0%,#ffee91 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff6bc', endColorstr='#ffee91',GradientType=0 ); /* IE6-9 */
	
	border: 3px solid #CC6600;
	border-radius: 10px;
	padding:10px;
	max-width: 600px;
	text-align: center;
}
input[type='text']{
	width: 80px;
	
}

body > div > div.jobPoint > div.body > div.button > div > input[type="submit"],body > div > div.allPoint > div.body > div:nth-child(3) > input[type="submit"]{
	width: 100px;
	height: 30px;
}

body > div > div.jobPoint > div.body > div.button > div > input[type="submit"]:nth-child(2),body > div > div.allPoint > div.body > div:nth-child(3) > input[type="submit"]:nth-child(2){
	width: 150px;
	height: 30px;
}

body > div > div.jobPoint > div.body > div.button > div, body > div > div.allPoint > div.body > div:nth-child(3){
	margin: 10px auto 10px auto;
}

.box{
float: left;
}

.finish .box{
	height: 40px;
	width: 100px;
}


.finish .property .box div{
	background-color : yellow;
	border-style: solid;
	border-width: 1px;
	height: 38px;
	width: 38px;
	text-align: center;
	float: left;
}

.finish .property .box .name{
	font-size: 16px;
	line-height: 19px;
}
.finish .property .box .pointN{
	font-size: 32px;
	line-height: 38px;
}
.finish .property .box .pointH,.finish .property .box .pointV{
	height:18px;
	width:18px;
	line-height: 18px;
}
.otherBox .tr .td{
	width: 80px;
}
.otherBox .tr:nth-child(1) .td{
	font-size: 16px;
	border: none;
	background-color: #FFDD55;
}
.otherBox .tr .td:nth-child(odd){
	text-align: right;
}


.otherBox,.return,.skill{
	clear: left;
}
.skillBigBlock{
	width: 160px;
	height: 40px;
	background-color: red;
}
.name1{
	width: 98px;
	height: 38px;

	line-height: 40px;
	float:left;
	border-style: solid;
	border-width: 1px;
}
.name{
	float:left;
	border-style: solid;
	border-width: 1px;
	border-style: solid;
	border-width: 1px;
}
.name2{
	width: 98px;
	height: 19px;

	line-height: 20px;
	text-align:left;
	font-size:14px;
}
.subName{
	width: 98px;
	height: 19px;

	line-height: 20px;

}
.pointN{
	width: 38px;
	height: 38px;

	font-size: 32px;
	line-height: 40px;
	float:left;
	border-style: solid;
	border-width: 1px;
}

.pointH,.pointV{
	width: 18px;
	height: 18px;

	line-height: 20px;
	float:left;
	border-style: solid;
	border-width: 1px;
}

.skillBigBlock,.background{
	clear:left;
}
.skill_0,.skill_1,.skill_2,.skill_3{
	float:left;
}
.finish .body .skill .allSkill{
	margin-left: auto;
	margin-right: auto;
	max-width: 640px;
}

.finish .body .skill .skillExplain .pointN{
	font-size: 16px;
}

body > div > div.finish > div.body > div.skill > div.allSkill > div > div:nth-child(even)> div,body > div > div.finish > div.body > div.skill > div.allSkill > div> div:nth-child(even) > div.pointBlock > div{
	background-color: #FFEE99;
}
body > div > div.finish > div.body > div.skill > div.allSkill > div > div:nth-child(odd)> div,body > div > div.finish > div.body > div.skill > div.allSkill > div> div:nth-child(odd) > div.pointBlock > div{
	background-color: #FFDD55;
}
body > div > div.finish > div.body > div.skill > div.allSkill > div > div.skillExplain> div,body > div > div.finish > div.body > div.skill > div.allSkill > div > div.skillExplain > div.pointBlock> div{
	background-color: #FFBB66;
}

body > div > div.finish > div.body > div.background{
	padding: 10px;
}



body > div > div.finish > div.body > div.background > div.choose > div.table > div > div:nth-child(3){
	width: 740px;
	text-align: left;
	
}
body > div > div.finish > div.body > div.background > div.choose > div.table > div:nth-child(1) > div:nth-child(3){
	text-align: center;
}
body > div > div.finish > div.body > div.background > div.choose > div.table > div > div:nth-child(1){
	width: 100px;
}
body > div > div.finish > div.body > div.background > div.choose > div.table > div > div:nth-child(2){
	width: 80px;
}



.finish .body .cradit .body .td{
	border-style: solid;
	border-width: 1px;
	width: 80px;
}

body > div > div.finish > div.body > div.background > div.choose > div:nth-child(1) > button,body > div > div.finish > div.body > div.return > div > input[type="submit"]{
	width: 100px;
	height: 30px;
}

body > div > div.finish > div.body > div.return > div {
	float: left;
	margin: 10px;
    width: 120px;
}
body > div > div.finish > div.body > div.return{
	width: 280px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

#gotop {
    position: fixed;
    border-radius: 50px;
    right: 20px;
    bottom: 20vh;
    width: 20px;

	text-align: center;
    font-size: 12px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #FFFFFF;
    cursor: pointer;
    z-index: 1000;
	border: 2px solid #AA0000;
}